@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    Welcome to the Bleakwind Buffet
</h1>

<p>
    We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!
</p>

<form id="menu-explore">

    <div class="filters">
        <div id="search">
            <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
            <input type="submit" value="Search">
        </div>

        <h4>Item Type</h4>
        <label>
            <input type="checkbox" name="ItemType" value="Entree" checked="@Model.ItemType.Contains("Entree")" />
            Entree
        </label>
        <label>
            <input type="checkbox" name="ItemType" value="Side" checked="@Model.ItemType.Contains("Side")" />
            Side
        </label>
        <label>
            <input type="checkbox" name="ItemType" value="Drink" checked="@Model.ItemType.Contains("Drink")" />
            Drink
        </label>

        <h4>Calories</h4>
        <div>
            Between
            <input name="CalorieMin" type="number" min="0" max="9999" step="1" placeholder="min" value="@Model.CalorieMin" />
            and
            <input name="CalorieMax" type="number" min="0" max="9999" step="1" placeholder="max" value="@Model.CalorieMax" />
        </div>

        <h4>Price</h4>
        <div>
            Between
            <input name="PriceMin" type="number" min="0" max="100" step="0.01" placeholder="min" value="@Model.PriceMin" />
            and
            <input name="PriceMax" type="number" min="0" max="100" step="0.01" placeholder="max" value="@Model.PriceMax" />
        </div>
    </div>

    <div class="menu">
        <h1>
            Our Menu
        </h1>

        <h2>
            Entrees
        </h2>

        <ul class="order-item-list">
            <li>
                <div class="item-name">
                    <h3></h3>
                </div>
                <div class="item-info">
                    <div class="price">Price</div>
                    <div class="calories">Calories</div>
                </div>
            </li>
            @foreach (BleakwindBuffet.Data.Menu.IOrderItem entree in @Model.Entrees)
            {
                <li>
                    <div class="item-name">
                        <h3>@entree.ToString()</h3>
                    </div>
                    <div class="item-info">
                        <div class="price">$@entree.Price</div>
                        <div class="calories">@entree.Calories</div>
                    </div>
                </li>
            }
        </ul>

        <h2>
            Sides
        </h2>

        <ul class="order-item-list">
            <li>
                <div class="item-name">
                    <h3></h3>
                </div>
                <div class="item-info">
                    <div class="price">Price</div>
                    <div class="calories">Calories</div>
                </div>
            </li>
            @foreach (BleakwindBuffet.Data.Menu.IOrderItem side in @Model.Sides)
            {
                <li>
                    <div class="item-name">
                        <h3>@(side.ToString())</h3>
                    </div>
                    <div class="item-info">

                        <div class="price">$@side.Price</div>
                        <div class="calories">@side.Calories</div>

                    </div>

                </li>
            }
        </ul>

        <h2>
            Drinks
        </h2>

        <ul class="order-item-list">
            @foreach (BleakwindBuffet.Data.Menu.IOrderItem drink in @Model.Drinks)
            {
                <li>
                    <div class="item-name">
                        <h3>
                            @if (drink is BleakwindBuffet.Data.Drinks.SailorSoda ss)
                            {
                                @(drink.ToString().Remove(6,7))
                            }
                            else
                            {
                                @(drink.ToString())
                            }
                        </h3>
                    </div>
                    <div class="item-info">

                        <div class="price">$@drink.Price</div>
                        <div class="calories">@drink.Calories</div>

                    </div>
                </li>
            }
        </ul>

        <h3>
            Soda Flavors
        </h3>
        <ul>
            @foreach (BleakwindBuffet.Data.Enums.SodaFlavor flavor in Enum.GetValues(typeof(BleakwindBuffet.Data.Enums.SodaFlavor)))
            {
                <li>
                    <h4>
                        @flavor
                    </h4>
                </li>
            }
        </ul>

    </div>

</form>

<h2>
    Make it a Combo
</h2>

<p>
    By adding a side and a drink to any puchase of an Entree you can make a it a combo and take $1 off the total of your meal
</p>


